@media (max-width: 768px) { 

  @keyframes fadeIn {
    from {
      scale: 0.7;
    }
    to {
  
      scale: 1;
    }
  }
  
  
  .fade-in {
   
    animation: fadeIn 0.6s ease-out forwards; 
  }
  
  /* Optional: Delay animations for staggered effects */
  .fade-in.delay-1 { animation-delay: 0.2s; }
  .fade-in.delay-2 { animation-delay: 0.4s; }

  
  
  .section1 {
    display: flex;
    flex-direction: column;
    background-color: #F6F8CC;
    height: auto;
    
  }


.sTitle {
  align-items: center;
  justify-content: center;
  font-family: "Rhodium Libre", serif;
  font-size: 20px;
  font-weight: 700;
  max-width: 400px;
  text-align: center;
  transform: translateY(20px);
  animation: fadeIn linear; 
  animation-timeline: view();
  animation-range: entry cover 40%;
  margin-bottom: 50px;
}
img {

  width: 100%;
  border-radius: 5px;
  
}

.picture1 {
  
}

.picture1 .picture2 .picture1 {
  display: flex;
  flex-direction: column;
}

.crafting {
    font-family: "Rhodium Libre", serif;
    font-size: 18px;
    font-weight: 700;
    max-width: 400px;
    text-align: center;
    transform: translateY(20px);
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    animation: fadeIn linear; 
    animation-timeline: view();
    animation-range: entry cover 20%;
    border-bottom: 2px solid black;
    
}
.craftingP {

  font-family: "Rhodium Libre", serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 400px;
  text-align: left;
  transform: translateY(20px);
  max-width: 400px;
  margin-left: 35px;
  margin-right: 10px;
  line-height: 20px;
  animation: fadeIn linear; 
  animation-timeline: view();
  animation-range: entry cover 20%;
}

.text1 {
transform: translateY(-35px);
}
}

