@media (max-width: 768px) { 

  @keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0.7;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  
  
  .fade-in {
    opacity: 0.2; /* Start invisible */
    animation: fadeIn 0.6s ease-out forwards; 
  }
  
  /* Optional: Delay animations for staggered effects */
  .fade-in.delay-1 { animation-delay: 0.2s; }
  .fade-in.delay-2 { animation-delay: 0.4s; }

  
    .section2 {
        display: flex;
        flex-direction: column;
        background-color: #F7EFCB;
        height: max-content;
        padding-bottom: 20px;
      }
      .crafting2 {
       
          
        font-family: "Rhodium Libre", serif;
          font-size: 24px;
          font-weight: 700;
          max-width: 400px;
          
          transform: translateY(20px);
          max-width: 400px;
          margin-left: 30px;
          margin-right: 10px;
          animation: fadeIn linear; 
          animation-timeline: view();
          animation-range: entry cover 20%;
          border-bottom: 2px solid black;
      }
      .craftingP2 {
        
        font-family: "Rhodium Libre", serif;
        font-size: 14px;
        font-weight: 400;
        max-width: 400px;
        transform: translateY(20px);
        max-width: 400px;
        line-height: 20px;
        margin-left: 30px;
        margin-right: 10px;
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 20%;
      }
      .worldmap {
        transform: translateY(50px);
        justify-content: center;
        width: 90%;
        margin: 0 auto; /* add this line to center the image horizontally */
        display: block;
        border-radius: 5px;
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 40%;
      }
      .global {
        margin-left: 30px;
        font-family: "Rhodium Libre", serif;
        transform: translateY(50px);
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 20%;
      }
      .globalP {
        font-size: 14px;
        margin-left: 30px;
        font-family: "Rhodium Libre", serif;
        transform: translateY(30px);
        width: 300px;
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 20%;
      }

      .expert {
        margin-left: 30px;
        font-family: "Rhodium Libre", serif;
        transform: translateY(20px);
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 40%;
      }
      .expertP {
        font-size: 14px;
        margin-left: 30px;
        font-family: "Rhodium Libre", serif;
        width: 300px;
        animation: fadeIn linear; 
        animation-timeline: view();
        animation-range: entry cover 40%;
      }
    }